		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; {{ site.time | date: '%Y' }} - {{ site.name }} </li>
				</ul>
				<a href="http://foralabs.com" target="_blank" style="border: none; position: absolute; right: 20px; bottom: 20px;">
					<img id="fora-logo" src="http://foralabs.com/images/logo-xs.png" tabindex="0" title="Engineered at Fora Labs">
	    	</a>
			</footer>

	</body>
</html>