<!-- Header -->
	<header id="header" class="alt">
		<h1><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo.png" style="position:relative;top: 10px;"/> {{ site.name }}</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Anasayfa</a></li>
				<li><a href="{{ site.baseurl }}/about">Hakkımızda</a></li>
				<li><a href="{{ site.baseurl }}/blog">Bizden Haberler</a></li>
				<li><a href="{{ site.baseurl }}/contact">İletişim</a></li>
			</ul>
		</nav>
	</header>
